
.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
}

.insert{
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;

}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #fa0841;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
}

insert:focus, textarea:focus, select:focus{
    outline: none;
}