.text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    color: white;
    height: 100%;
    justify-content: space-between;
}

.activeContainer {
    align-items: center;
}

.d-flex{
    display: flex;
}

.activeItem {
    display: flex;
    align-items: center;
}

.activeContainer img {
    padding-left: 10px;
}

.text h1 {
    margin-top: 0px;
    text-align: center;
}


@media (min-width: 320px) and (max-width: 1200px) {
    .text {
        display: none;
    }
}

.onlineImg{
    margin-right: 5px;
}

.chatImage{
    height: 150px;
    width: auto;
}